:root {
  --main-back-color: #1E1E1E;
  --nav-back-color: #141414;
  --back-color: #2A2A2A;
  --text-color: #E6E6E6;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--main-back-color);
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

.nav-bar{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 65px;
  background-color: var( --nav-back-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
}

.nav-bar a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}


.svg-logo {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: center;
}
.name-logo {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--text-color);
  line-height: 65px;
  margin-left: -7px;
  align-items: center;
  justify-content: center;
}   

.but-back {
  font-size: 1.25rem;
  display: flex;
  width: 85px;
  height: 38px;
  cursor: pointer;
  background-color: #282828;
  border-radius: 10px;
  margin-top: 4.5px;
  margin-left: 15px;
  border: #1E1E1E 1px solid ;
  align-items: center;
  justify-content: center;
  transition: color 0.3s,background-color 0.3s, border-color 0.3s;
 
}

.but-back:hover {
  background-color: #E1E1E1;
  color: #969696;
  border: #969696 1px solid ;
}

.workers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
}

.worker-1, .worker-2 {
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding: 15px;
  background-color: #141414;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
   position: relative;
}

.worker-1:hover, .worker-2:hover {

  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}
.worker-1 {
  margin-right: 2rem;
}
.worker-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.photo img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid #333;
  margin-right: 15px;
}



.name {
  font-size: 1.75rem;
  font-weight: bold;
}

.role {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 4px 12px;
  border-radius: 10px;
  background: linear-gradient(135deg, #FFD700, #FFB700, #FF8C00);
  color: #141414;
  box-shadow: 0 2px 10px rgba(255, 215, 0, 0.4);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
  letter-spacing: 0.5px;
  border: 1px solid rgba(255, 215, 0, 0.5);
  display: inline-block;
  margin-top: 10px;
}


.description {
  font-size: 1rem;
  margin-bottom: 12.5px;
  text-align: left;
}

/* Контейнер с кнопкой и бейджами */
.footer-worker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

/* Кнопка */
.contact-bage a {
  padding: 4px 14px;
  font-size: 0.9rem;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
  background-color: #282828;
  border: #1E1E1E 1px solid ;
  color: white;
  text-decoration: none;
  transition: color 0.3s,background-color 0.3s, border-color 0.3s;
 
}

.contact-bage:hover a{
  background-color: #E1E1E1;
  color: #969696;
  border: #969696 1px solid ;
}

.badges {
  display: flex;
  gap: 8px;
  justify-content: flex-end; 
}

.badge {
  color: #fff;
  font-size: 0.9rem;
  padding: 2px 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
}

.worker-1 .badge {
  padding: 4px 10px;
  background-color: #3B82F6;
  
}
.worker-2 .badge {
  border: #3B82F6 2px solid;
}