:root {
  --main-back-color: #1E1E1E;
  --nav-back-color: #141414;
  --back-color: #2A2A2A;
  --text-color: #E6E6E6;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--main-back-color);
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

.nav-bar{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 65px;
  background-color: var( --nav-back-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
}

.nav-bar a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}


.svg-logo {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: center;
}
.name-logo {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--text-color);
  line-height: 65px;
  margin-left: -7px;
  align-items: center;
  justify-content: center;
}   

.but-back {
  font-size: 1.25rem;
  display: flex;
  width: 85px;
  height: 38px;
  cursor: pointer;
  background-color: #282828;
  border-radius: 10px;
  margin-top: 4.5px;
  margin-left: 15px;
  border: #1E1E1E 1px solid ;
  align-items: center;
  justify-content: center;
  transition: color 0.3s,background-color 0.3s, border-color 0.3s;
 
}

.but-back:hover {
  background-color: #E1E1E1;
  color: #969696;
  border: #969696 1px solid ;
}

.worker{
  margin-top: 20px;
  display: flex;
  width: 10rem;
  height: 20rem;
  
 
  
  padding: 5px;
  background-color: #141414;
  border-radius: 12px;
  cursor: pointer;
  flex: 0 0 auto;

  
}